<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>{{ title }}</title>
    <style>
        .errorlist {
            color: red;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="container pt-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                Ops, dê uma olhada nos campos abaixo!
            </div>
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}
        {% endif %}
    
        <h1>{{ title }}</h1>
    
        {% load widget_tweaks %}
        <form method="post" novalidate>
            {% csrf_token %}
    
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}
    
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                </div>
            {% endif %}
    
            {% for field in form.visible_fields %}
                <div class="form-group">
                {{ field.label_tag }}
    
                {% if form.is_bound %}
                    {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                        {{ error }}
                        </div>
                    {% endfor %}
                    {% else %}
                    {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}
    
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                </div>
            {% endfor %}
    
            <button type="submit" class="btn btn-success">{{ button_text }}</button>
        </form>
    </div>
</body>
</html>